body {
  margin: 0;
  background-color: darkolivegreen;
  color: white;
}

.mainTitle {
  color: white;
}

.videoContainers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.videoBox {
  background-color: black;
  min-width: 300px;  
  max-width: 300px;
}
.thumbnail {
  width: 100px;
}