body {
  margin: 0;
  background-color: darkolivegreen;
  color: white;
}

.mainTitle {
  color: white;
}

.videoContainers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.videoBox {
  background-color: black;
  width: 33%;  
}
.thumbnail {
  width: 33%;
}